@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #011631;
  font-family: Inter;
}

.div-boxs {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90vh;
  flex-direction: row;
  width: 100%;
}

.div-box1 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding-left: 9%;
}

.title {
  color: #fff;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-services {
  color: #19ffdb;
}

.discription {
  color: #a39d9d;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 3%;
}

.btn {
  border-radius: 0.3125rem;
  background: #19ffdb;

  width: 15rem;
  height: 4rem;
  flex-shrink: 0;

  color: #1e1e1e;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 8%;
}

.btn:hover {
  background: transparent;
  color: #19ffdb;
  border: 2px solid #19ffdb;
}

.div-box2 {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 90vh;
  flex-direction: row;
  width: 50%;
  padding-right: 0%;
}
